.admin-header {
    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #0F172A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 1000;
}

.admin-header h3 {
  color: white;
  margin: 0;
  font-size: 20px;
}

.header-actions {
  display: flex;
  gap: 12px;
}

.header-actions button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.profile-btn {
  background: white;
  color: #0F172A;
}

.logout-btn {
  background: #e63946;
  color: white;
}
