.admin-sidebar {
  position: fixed;
  top: 60px; /* BELOW HEADER */
  left: 0;
  width: 250px;
  height: calc(100vh - 60px);
  background: #111;
  color: white;
  padding: 20px 10px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
}

.admin-sidebar.collapsed {
  width: 80px;
}

.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  margin-bottom: 25px;
  height: 50px;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.sidebar-nav a:hover {
  background: #222;
}

/* hide text in collapsed sidebar */
.admin-sidebar.collapsed a span {
  display: none;
}

.admin-sidebar.collapsed a {
  justify-content: center;
}
