.homa-modal .modal-content {
  border-radius: 12px;
  padding: 10px;
}

.homa-img-preview {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* For small screens */
@media (max-width: 768px) {
  .modal-dialog {
    width: 95% !important;
    margin: auto;
  }

  .homa-img-preview {
    height: 120px;
  }
}
