# React / Vite project ignores
node_modules/
dist/
build/
.DS_Store
.env
.env.local
.env.*.local

# Editor folders
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional
*.zip
